<style type="text/css">
	#preload-warning {
		background: #ffffff;
		display: none;
	}
	#preload-warning .warning-content {
		width: 800px;
    margin: 0 auto;
    text-align: center;
    padding:50px 0;
	}
	#preload-warning .warning-content h4 {
    font-size: 24px;
    margin-bottom: 40px;
	}
	#preload-warning .warning-content p {
    font-size: 18px;
    line-height: 40px;
	}
	#preload-warning .warning-content p a {
    color:#1457a0;
    margin:0 10px;
	}
</style>
<div id="preload-warning" class="warning">
	<div class="warning-content">
		<h4>您的IE浏览器过于老旧，请使用IE9（含）以上版本，或使用现代浏览器（强烈推荐chrome，火狐）</h4>
		<p>
			<a href="http://www.huatongsilver.com/sites/default/files/download-center/chrome_setup.exe" title="可以使用vpn，官网下载：https://www.google.cn/chrome/browser/desktop/index.html">chrome下载地址</a>
			<a href="http://www.firefox.com.cn/">火狐下载地址</a>
			<a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads">IE下载地址</a>
		</p>
	</div>
</div>
<script type="text/javascript">
	var browser = {
		UA:navigator.userAgent,
		browserType:function(){
			var isOpera = this.UA.indexOf("Opera") > -1, //判断是否Opera浏览器
					isIE = this.UA.indexOf("compatible") > -1 && this.UA.indexOf("MSIE") > -1 && !isOpera, //判断是否IE浏览器
					isEdge = this.UA.indexOf("Edge") > -1, //判断是否IE的Edge浏览器
					isFF = this.UA.indexOf("Firefox") > -1, //判断是否Firefox浏览器
					isSafari = this.UA.indexOf("Safari") > -1 && this.UA.indexOf("Chrome") == -1, //判断是否Safari浏览器
					isChrome = this.UA.indexOf("Chrome") > -1 && this.UA.indexOf("Safari") > -1;//判断Chrome浏览器

			if(isFF){return "FF";}
			if(isOpera){return "Opera";}
			if(isSafari){return "Safari";}
			if(isChrome){return "Chrome";}
			if(isEdge){return "Edge";}
			if(isIE){return "IE";}
		},
		isIE:function(){
			var isOpera = this.UA.indexOf("Opera") > -1, //判断是否Opera浏览器
	    		isIE = this.UA.indexOf("compatible") > -1 && this.UA.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器  
	    return isIE; 
		},
		ieVersion:function(){
			if(!this.isIE()){
				return false;
			}

			var fIEVersion = parseFloat(this.UA.match(/MSIE (\d+\.\d+);/)[1]),
					version = 0;
			
			if(fIEVersion == 9 && !window.innerWidth){
				version = 8;
			}else{
				version = fIEVersion;
			}

			return version;
		}
	}

	var preload = {
		init:function(){
			this.checkBrowser();
		},
		checkBrowser:function(){
			if(browser.isIE && browser.ieVersion < 9){
				this.showWarning();
			}
		},
		showWarning:function(){
			document.getElementById("preload-warning").style.display = "block";
		},
		hideWarning:function(){
			document.getElementById("preload-warning").style.display = "none";
		}
	}

	preload.init();
</script>